@utility typo-title-1 {
  font-size: var(--text-title-1);
  line-height: 1.5;
  font-weight: 700;
  letter-spacing: -0.011em;
}

@utility typo-title-2 {
  font-size: var(--text-title-2);
  line-height: 1.5;
  font-weight: 600;
  letter-spacing: -0.011em;
}

@utility typo-title-3 {
  font-size: var(--text-title-3);
  line-height: 1.5;
  font-weight: 500;
  letter-spacing: -0.011em;
}

@utility typo-title-4 {
  font-size: var(--text-title-4);
  line-height: 1.5;
  font-weight: 400;
  letter-spacing: -0.011em;
}

@utility typo-title-5 {
  font-size: var(--text-title-5);
  line-height: 1.5;
  font-weight: 500;
  letter-spacing: -0.011em;
}

@utility typo-body-1 {
  font-size: var(--text-body-1);
  line-height: 1.5;
  font-weight: 500;
  letter-spacing: -0.011em;
}

@utility typo-body-2 {
  font-size: var(--text-body-2);
  line-height: 1.5;
  font-weight: 500;
  letter-spacing: -0.011em;
}

@utility typo-body-3 {
  font-size: var(--text-body-3);
  line-height: 1.5;
  font-weight: 500;
  letter-spacing: -0.011em;
}

@utility typo-caption-1 {
  font-size: var(--text-caption-1);
  line-height: 1.5;
  font-weight: 400;
  letter-spacing: -0.011em;
}

@utility typo-caption-2 {
  font-size: var(--text-caption-2);
  line-height: 1.5;
  font-weight: 400;
  letter-spacing: -0.011em;
}
